.App {
  text-align: center;
}

.Movie{
  display:flex;
  justify-content: space-between;

}

.Title{
  color: #1e1e4e;
}
.Image{
  width: 300px;
  height: 250px;
}
.Card{
  padding-top: 20px;
  width: '18rem';
}